<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/6cX5GsgPA1o8iVzKOqT9B6P6G4IF6X" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Your Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <!-- Bootstrap Container -->
  <div class="container">
    {{{body}}}
  </div>

  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5sXGldbz0IL7slsibVcOQVnN69Z" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO15nIoPHG3nJl9yPf07MadmNSXJ6FoGx" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrJX/abE4a7W6ly52z7QbFJCJ7J43qFP" crossorigin="anonymous"></script>
</body>
</html>
